div.team-list {
  .list-group-item {
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid rgba(158, 158, 158, 0.5);
    margin: 0.15rem 0;
    &:hover {
      background-color: rgba(0, 150, 255, 0.5);
    }
  }
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
    }
    span {
      font-size: 0.75rem;
      font-style: italic;
    }
  }
  [class^="alert"] {
    background-color: transparent;
    color: #fff;
  }
}
