@import "~bootstrap";
@import "app";
@import "components/team-form";
@import "components/team-list";

* {
  outline: 1px solid cyan;
}

body {
  background-color: #282c34;
  // background-color: #333;
  color: #fff;
  font-size: 21px;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
